/*body {
    background-image: url('../Content/1.jpg');
    align-content: center;
    margin-top: 10px;
}

table {
    border: 1px solid black;
}*/

    /*table td, table th {
        border: 1px solid black;
        padding: 5px;
    }

thead {
    font-weight: 600;
    font-style: italic;
}

input[type="text"] {
    margin: 5px;
    height: 14px;
    padding: 4px;
}

select {
    margin: 5px;
    height: 26px;
    padding: 4px;
}*/